body {
    background: #f4f7fb;
    font-family: Arial;
}

.app {
    width: 350px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.moods button {
    font-size: 22px;
    margin: 5px;
    border: none;
    background: #eee;
    padding: 8px;
    border-radius: 50%;
}

#time {
    font-size: 28px;
    margin: 5px 0;
}

input {
    padding: 6px;
    width: 65%;
}

button {
    padding: 6px 10px;
    margin: 5px;
    border: none;
    background: #5c7cfa;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 6px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}
